{#Submenu with other pages with the same group attribute (only if a page is displayed)#}

{% if page and page.pagegroup %}
    {# Select the right pagegroup #}
    <ul class="pure-menu-list"> {# include starts with ul so we can either wrap in into a horizontal or a vertical list #}
        {% for p in pages|sort(attribute='page-order') if p.pagegroup and p.pagegroup == page.pagegroup %}
            <li class="pure-menu-item {% if p == page %}active {% endif %}">
                <a href="{{ SITEURL }}/{{ p.url }}" class="pure-menu-link">{{p.title}}</a>
            </li>
        {% endfor %}
{% endif %}
