{# based on https://github.com/DandyDev/pelican-bootstrap3 (MIT) #}

<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}">
<head>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Favicons are a touchy subject. For reasoning for the following code, see: http://stackoverflow.com/a/23851464/872397 #}
    {% if FAVICON %}
    <link href="{{ SITEURL }}/{{ FAVICON }}" rel="icon">
    {% endif %}
    {% if FAVICON_IE %}
    <!--[if IE]><link rel="shortcut icon" href="{{ SITEURL }}/{{ FAVICON_IE }}"><![endif]-->
    {% endif %}
    {% if TOUCHICON %}
    <link rel="apple-touch-icon" href="{{ SITEURL }}/{{ TOUCHICON }}">
    {% endif %}

    {% block canonical_rel %}{% endblock %}

    {% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    {% endblock %}

    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pure-min.css" type="text/css"/>
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/grids-responsive-min.css" type="text/css"/>

    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/custom.css" rel="stylesheet">

    {% if FEED_ALL_RSS %}
    <link href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate"
          title="{{ SITENAME }} RSS Feed"/>
    {% endif %}

    {% if FEED_ALL_ATOM %}
    <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
          title="{{ SITENAME }} ATOM Feed"/>
    {% endif %}

    {% if tag and TAG_FEED_ATOM %}
        <link href="{{ SITEURL }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate"
              title="{{ SITENAME }} {{ tag }} ATOM Feed"/>
    {% endif %}

    {% if category and CATEGORY_FEED_ATOM %}
        <link href="{{ SITEURL }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate"
              title="{{ SITENAME }} {{ category }} ATOM Feed"/>
    {% endif %}

</head>
<body>
  <div id="layout">
     <div id="header">
       <div id="sitetitles">
        <h1 id="sitetitle">
          <a href="{{ SITEURL }}/">
              {{ SITENAME }}
          </a>
        </h1>
        <h2 id="sitetagline">{{ TAGLINE }} </h2>
      </div>

      <nav id="pagesnav">

        {% if DISPLAY_RELATED_PAGES_ON_SIDEBAR or  DISPLAY_RELATED_PAGES_IN_HEADER %}
            {% set DISPLAY_MENU_EXCLUDE_SUBGROUPS = True %}
        {% endif %}

        <div class="pure-menu pure-menu-horizontal {% if  DISPLAY_PAGEGROUPS_MENU and PAGE_ORDER %}with-nested-submenu{% endif %}">
            {% if DISPLAY_INDEX_ON_PAGES_MENU %}
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                <a class="pure-menu-link" href="{{ SITEURL }}/{% if INDEX_SAVE_AS %}{{INDEX_SAVE_AS}}{% endif %}">
                     Blog
                </a></li>
            </ul>
            {% endif %}

          {% if MENUITEMS %}
          <ul class="pure-menu-list menu-list-customlinks">
            {% for title, link in MENUITEMS %}
                <li class="pure-menu-item"><a class="pure-menu-link" href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}

          {% if DISPLAY_PAGEGROUPS_MENU and PAGE_ORDER %}
            {% include 'includes/linkList_nested.html' %}
          {% endif%}

          {% if DISPLAY_MENU_EXCLUDE_SUBGROUPS and PAGE_ORDER %}
            {% include 'includes/linkList_mainPages.html' %}
          {% endif %}


          {% if DISPLAY_PAGES_ON_MENU %}
          <ul class="pure-menu-list menu-list-pages">
                <span class="pure-menu-heading menu-heading-pages">Pages</span>
                {% for p in PAGES %}
                     <li class="pure-menu-item{% if p == page %} active{% endif %}"><a class="pure-menu-link" href="{{ SITEURL }}/{{ p.url }}">
                         {{ p.menulabel|default(p.title) }}
                      </a></li>
                {% endfor %}
          </ul>
          {% endif %}

          {% if DISPLAY_CATEGORIES_ON_MENU %}
          <ul class="pure-menu-list menu-list-categories">
              <span class="pure-menu-heading menu-heading-categories">Categories</span>
            {% for cat, null in categories %}
              <li class="pure-menu-item{% if cat == category %} active{% endif %}">
                  <a class="pure-menu-link" href="{{ SITEURL }}/{{ cat.url }}">{{ cat | capitalize }}</a>
              </li>
            {% endfor %}
          </ul>
          {% endif %}

        </div>
        {% if DISPLAY_RELATED_PAGES_IN_HEADER and page and page.pagegroup %}
        <div class="pure-menu pure-menu-horizontal pagesubgroup-menu">
            {% include 'includes/linkList_pageGroup.html' %}
        </div>
        {% endif %}
      </nav>
    </div>
    <div id="main" class="pure-g">
      {% block contentstarttag %}
        {% if not HIDE_SIDEBAR %}
        <div id="content" class="pure-u-1  pure-u-md-4-5">
        {% else %}
        <div id="content" class="pure-u-1">
        {% endif %}
      {% endblock %}

      {% block breadcrumbs %}
      {% endblock %}

      {% block content %}
      {% endblock %}

      </div>

      {% block sidebar %}
      {% if not HIDE_SIDEBAR %}
      <div id="sidebar" class="pure-u-1 pure-u-md-1-5">
                {% include 'includes/sidebar.html' %}
      </div>
      {% endif %}
      {% endblock %}
    </div>
    {% include 'includes/footer.html' %}
  </div>
  {# include scripts here, like toggle menu #}
  {% if DISPLAY_PAGEGROUPS_MENU and PAGEGROUPS_ORDER%}
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/scripts/pure-dropdown.js"></script>
  {% endif%}
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/scripts/mobileMenuToggle.js"></script>
</body>
</html>
